/*** Body ***/

html, body {
    font-family: Avenir;
    background: #FAF1F0;
    padding-left: 60px;
    padding-right:60px;
    padding-top:10px;

}

/*** header ***/
a:link, a:visited { 
    color: #F2C3BD;
    text-decoration: none;
    cursor: pointer;
}

a:link, a:hover {
	 color: #F2978A;
	 transition: color 0.5s, font-weight 0.3s;
}

a:link:active, a:visited:active { 
    color: #F2C3BD;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 75px;
	width: 100%;
}

#header-left {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#navbar {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-around;
	width: 700px;
}

.navbar-item {
	color: #F2C3BD;
	font-family: Avenir;
	font-weight: bold;
	font-size: 20px;
	margin-left: 5px;
	margin-right: 5px;
	transition: color 0.5s, font-weight 0.3s;
}

.homepage {
	color: #F2C3BD;
	font-family: Avenir;
	font-weight: bold;
	font-size: 20px;
	margin-left: 5px;
	margin-right: 5px;
	transition: color 0.5s, font-weight 0.3s;
}
/*** end header ***/

.content {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top:30px;
}

#left {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-left:40px;
}
#right {
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	padding-right:40px;
	width:465px;
	height:561px;
	padding-left:-20px;
}
#photo {
	display: inline-block;
	height: 400px;
	width: 400px;
}

#photo {
	border-radius: 50%;
	overflow: hidden;
	position:relative;
	height: 400px;
	width:400px;
	box-shadow: 0 0 15px 0 rgb(195, 189, 189);
}

img {
	-webkit-transition: -webkit-transform .8s ease-in-out;
    transition:transform .8s ease-in-out;
}

#photo:hover img{
	-webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(720deg);
}

#buttons {
	padding-top:40px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}

#buttons #b1 {
	width: 110px;
	height:110px;
}

#buttons #b2 {
	width: 115px;
	height:115px;
	cursor: pointer;
}

#hidden {
	display:none;
}

.inactive {
	color:#F2978A;
	font-family: Avenir;
	font-size: 20px;
	margin-left: 5px;
	margin-right: 5px;
	transition: color 0.5s, font-weight 0.3s;
}

.active {
	color:#F2978A;
	font-family: Avenir;
	font-size: 20px;
	margin-left: 5px;
	margin-right: 5px;
	transition: color 0.5s, font-weight 0.3s;
}


#greet {
	display:flex;
	color: #F2C3BD;
	font-family: Avenir;
	font-weight: bold;
	font-size: 50px;
	margin-left: 5px;
	margin-right: 5px;
	transition: color 0.5s, font-weight 0.3s;
	padding-bottom: 30px;
	padding-top: 20px;

}

#greet {
	position:relative;
	display:flex;
	animation-name: upDown;
	animation-duration: 0.5s;
   animation-timing-function: ease-in;
   animation-delay: 0s;
   animation-iteration-count: 2;
}
#name {
	display:flex;
	color: #F2978A;
	font-family: Avenir;
	font-weight: bold;
	font-size: 56px;
	margin-left: 5px;
	margin-right: 5px;
	transition: color 0.5s, font-weight 0.3s;
		text-shadow: 0 0 3px rgb(195, 189, 189);
}

#cat {
	position:relative;
	margin-top: 70px;
	margin-left: 280px;
	animation-name: mymove;
	animation-duration: 5s;
   animation-timing-function: ease-in-out;
   animation-delay: 0s;
   animation-iteration-count: 20;
}

.buttons:hover {
	box-shadow: 0 0 8px 0 rgb(195, 189, 189);
}

@keyframes mymove {
    0% {left: 0px;}
    50% {left: -400px;}
    100% {left: 0px;}
}

@keyframes updown {
    0% {top: 0px;}
    25% {top: 20px;}
    50% {top: 0px;}
    75% {top: -20px;}
    100% {top: 0px;}
}
